<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<%= @activity.count %>
<% @activity.each do |a| %>
  <br>
  <%= a.trackable_type %>
  <%= a.key %>
  <%= link_to a.trackable, a.trackable unless a.trackable_type == 'User' %>
  <%= a.created_at %>
  by
  <%= a.owner&.email %>
<% end %>